h1,
h3 {
  position: relative;
  top: -14px;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

.weather-today {
  text-align: left;
  font-size: 25px;
}

.weather-details {
  text-align: right;
  font-size: 25px;
}
