.weather-today {
  text-align: left;
  font-size: 25px;
}
.divider-1 {
  position: relative;
  right: -4px;
  font-weight: 100;
}

.divider-2 {
  position: relative;
  right: 3px;
}

.currentDegrees {
  font-weight: bold;
  font-size: 40px;
}

.fahrenheit {
  position: relative;
  right: -6px;
}
.fahrenheit:hover {
  color: #5585b5;
  transform: scale(150%);
}
.celsius:hover {
  color: #5585b5;
  transform: scale(150%);
}
