body {
  background-color: #53a8b6;
  padding: 50px;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Barlow Condensed", sans-serif;
}

button {
  background: none;
  border: none;
  transition: all 150ms ease-in-out;
}

.card {
  background-color: #bbe4e9;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 5px 5px;
}
